@media (max-width: 1210px) {
    .container {
        max-width: 960px;
    }
    
    .promo > img.active-img {
        max-width: 400px;
        max-height: 400px;
    }

    .promo-description {
        max-width: 350px;
    }

    .cards {
        padding-bottom: 45px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .card {
        flex-basis: 40%;
    }

    .promo {
        height: 300px;
    }

    .promo-title {
        max-width: 330px;
        font-size: 28px;
        line-height: 35px;
    }

    .promo-description {
        margin: 0;
    }

    .promo-text {
        font-size: 20px;
    }

    .promo > img.active-img {
        min-width: 350px;
        min-height: 350px;
    }

    .restaurants-title {
        font-size: 30px;
    }

    .footer-link {
        font-size: 16px;
    }

}

@media (max-width: 768px) {
    .container {
        max-width: 660px;
    }

    .promo > img.active-img {
        max-width: 150px;
        max-height: 150px;
        position: absolute;
        right: -100px;
        top: -20px;
    }

    .promo-title {
        max-width: 300px;
        font-size: 24px;
        line-height: 1.5;
    }

    .promo-text {
        display: block;
        max-width: 300px;
    }

    .card-title {
        font-size: 20px;
        line-height: 23px;
    }

    .card-info {
        flex-wrap: wrap;
    }

    .ingredients {
        font-size: 16px;
    }

    .raiting {
        flex-basis: 100%;
    }

    .rating > span, .price, .category {
        font-size: 16px;
    }

    .card-buttons {
        padding-left: 15px;
        padding-right: 10px;
    }

    .button-card-text {
        margin-right: 3px;
    }

    .card-price-bold {
        font-size: 18px;
        margin-left: 10px;

    }

    .footer-block {
        flex-direction: column;
    }

    .footer-nav {
        margin: 20px auto;
        text-align: center;
    }
}

@media (max-width: 578px) {
    .container {
        width: 90%;
    }

    .address {
        display: none;
    }

    .swiper-container {
        margin-bottom: 50px;
    }

    .promo {
        height: 250px;
    }

    .promo > img.active-img {
        right: -170px;
    }

    .promo-title {
        max-width: 250px;
        font-size: 20px;
        line-height: 25px;
    }

    .promo-text {
        max-width: 230px;
        font-size: 16px;
        line-height: 1.5;
    }

    .restaurants-title {
        font-size: 23px;
        line-height: 20px;
    }

    .header {
        flex-wrap: wrap;
    }

    .input-adress {
        margin-top: 15px;
        order: 5;
        flex: 1;
    }

    .card-buttons {
        margin-top: 0;
    }

    .card {
        flex-basis: 99%;
    }

    .card-title {
        font-size: 22px;
    }

    .card-img {
        width: 100%;
    }

    .footer-link {
        font-size: 16px;
    }

}

@media (max-width: 480px) {

    .promo-title {
        max-width: 100%;
        font-size: 22px;
        line-height: 1.5;
    }

    .promo-text {
        max-width: 100%;
        font-size: 20px;
        line-height: 1.5;
    }

    .search {
        margin: 0;
    }

    .button-text {
        display: none;
    }

    .btn-icon {
        margin-right: 0;
    }

    .user-name {
        margin: 10px;
    }

    .active-img {
        display: none;
    }

    .restaurants-heading {
        flex-direction: column;
    }

    .input-search {
        margin-top: 15px;
        flex: 1;
    }

    .cards {
        padding-bottom: 10px;
    }

}

@media (max-width: 380px) {

    .promo-text {
        max-width: 100%;
        font-size: 16px;
        line-height: 1.3;
    }

}