* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-font-color: #000;
    --shadow-color: #000;
    --input-border: #D9D9D9;
    --bgrnd-color: #fff;
    --font-cart: #595959;
    --btn-entry-bg: #1890FF;
    --font-entry-color:#fff;
    --font-promo: #302C34;
    --promo-bg: #FFF1B8;
    --tag-bg: #262626;
    --rating-color: #FFC107;
    --card-text-color:  #8C8C8C;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--main-font-color);
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 44px 0 40px;
}

.input {
    border: 1px solid var(--input-border);
    border-radius: 2px;
    background: var(--bgrnd-color);
    font-style: 16px;
    line-height: 24px;
    background-position: left 11px center;
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.input-adress {
    max-width: 690px;
    width: 100%;
    background-image: url(../img/home.svg);
    background-repeat: no-repeat;
}

.buttons {
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background: var(--bgrnd-color);
    border: 1px solid var(--input-border);
    border-radius: 2px;
    color: var(--font-cart);
    font-style: 16px;
    line-height: 24px;
}

.entry {
    background: var(--btn-entry-bg);
    color: var(--font-entry-color);
    border: 1px solid var(--btn-entry-bg);
    margin-right: 10px;
}

.btn-icon {
    margin-right: 6px;
}

/* PROMO SECTION*/

.promo {
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    background: var(--promo-bg);
    border-radius: 10px;
    display: flex;
    position: relative;
    overflow: hidden;
    margin-bottom: 56px;
}

.active-img {
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    height: 200%;
    position: absolute;
    top: 10%;
    right: -7%;
}

.active-img {
    -webkit-animation: rotate 15s linear infinite;
    animation: rotate 15s linear infinite;
}

@-webkit-keyframes rotate {
    from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}

.promo-text {
    margin: 68px 70px;
    z-index: 99;
}

.promo-title {
    display: block;
    max-width: 400px;
    width: 100%;
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
    font-weight: 700;
    color: var(--font-promo);
    margin-bottom: 15px;
}

.promo-description {
    display: block;
    max-width: 538px;
    width: 100%;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: var(--font-promo);
}

/* RESTAURANTS SECTION */

.restaurants-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.restaurants-title {
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
}

.input-search {
    max-width: 306px;
    width: 100%;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
}

/* GOODS SECTION */

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 44px;
    margin-bottom: 90px;
}

.card {
    max-width: 384px;
    width: 100%;
    border-radius: 7px;
    background: var(--bgrnd-color);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    margin-bottom: 30px;
}

.card-img {
    object-fit: cover;
}

.card-text {
    padding: 20px 24px 30px;
}

.card-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.card-tag {
    display: block;
    width: 55px;
    background: var(--tag-bg);
    border-radius: 2px;
    color: var(--font-entry-color);
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    padding: 5px;
}

.card-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}    

.rating {
    margin-right: 26px;
}

.rating > img {
    margin-right: 7px;
}

.rating > span {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: var(--rating-color);
}

.price, .category  {
    font-size: 18px;
    line-height: 32px;
    color: var(--card-text-color);
    margin-right: 10px;
}

.category:before {
    content: '';
    width: 5px;
    height: 5px;
    background: var(--card-text-color);
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 10px;
}
