* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-font-color: #000;
    --shadow-color: #000;
    --input-border: #D9D9D9;
    --bgrnd-color: #fff;
    --font-cart: #595959;
    --btn-entry-bg: #1890FF;
    --font-entry-color:#fff;
    --font-promo: #302C34;
    --promo-bg: #FFF1B8;
    --tag-bg: #262626;
    --rating-color: #FFC107;
    --card-text-color:  #8C8C8C;
    --link-color: #595959;
    --modal-color: rgba(0, 0, 0, 0.4);
    --cart-border: #40A9FF;
    --price-cart-btn: #262626;
    --bgrnd01: #D6E4FF;
    --bgrnd02: #FFF1F0;
    --bgrnd03: #FFF566;
    --color-1: #fff;
    --color-2: #122335;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--main-font-color);
    background: var(--color-1);
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    -ms-transition: background 0.6s;
    -o-transition: background 0.6s;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 44px 0 40px;
}

.input {
    border: 1px solid var(--input-border);
    border-radius: 2px;
    background: var(--bgrnd-color);
    font-size: 16px;
    line-height: 24px;
    background-position: left 11px center;
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.address {
    flex: 0.8;
}


.input-address {
    width: 100%;
    background-image: url('../img/home.svg');
    background-repeat: no-repeat;
}

.buttons {
    display: flex;
    align-items: center;
}

.user-name {
    display: none;
    margin-right: 20px;
    font-weight: bold;
    font-size: 18px;
    color: var(--color-2);
}

.button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background: var(--bgrnd-color);
    border: 1px solid var(--input-border);
    border-radius: 2px;
    color: var(--font-cart);
    font-size: 16px;
    line-height: 24px;
    outline: none;
    cursor: pointer;
}

.button-primary {
    background: var(--btn-entry-bg);
    border: 1px solid var(--btn-entry-bg);
    color: var(--bgrnd-color);
    margin-right: 10px;
}

.button-primary:hover {
    background: var(--bgrnd-color);
    border: 1px solid var(--input-border);
    color: var(--link-color);
}

.button-auth {
    background-position: 20px 13px;
}

svg.icon-logo {
    fill: var(--color-2);
}

.button-primary .button-auth-svg {
    width: 24px;
    height: 24px;
    background-color: var(--bgrnd-color);
    -webkit-mask: url("../img/icon/user.svg") no-repeat 50% 50%;
    mask: url("../img/icon/user.svg") no-repeat 50% 50%;
    background-repeat: no-repeat;
}

.button-primary:hover .button-auth-svg {
    background-color: var(--link-color);
}

.button .button-cart-svg {
    width: 24px;
    height: 24px;
    background-color: var(--link-color);
    -webkit-mask: url('../img/icon/shopping-cart.svg') no-repeat 50% 50%;
    mask: url('../img/icon/shopping-cart.svg') no-repeat 50% 50%;
    background-repeat: no-repeat;
}

.button-cart:hover {
    border: 1px solid var(--btn-entry-bg);
    color: var(--btn-entry-bg);
}

.button-cart:hover .button-cart-svg {
    background-color: var(--btn-entry-bg);
}

.button-out-svg {
    width: 24px;
    height: 24px;
    background-color: var(--bgrnd-color);
    -webkit-mask: url('../img/icon/logout.svg') no-repeat 50% 50%;
    mask: url('../img/icon/logout.svg') no-repeat 50% 50%;
    background-repeat: no-repeat;
    -webkit-mask-size: 20px;
    mask-size: 20px;
}

.button-primary:hover .button-out-svg {
    background-color: var(--link-color);
}

.button-cart-svg-incard {
    width: 24px;
    height: 24px;
    background-color: var(--bgrnd-color);
    -webkit-mask: url('../img/icon/shopping-cart.svg') no-repeat 50% 50%;
    mask: url('../img/icon/shopping-cart.svg') no-repeat 50% 50%;
    background-repeat: no-repeat;
}

.button-primary:hover .button-cart-svg-incard {
    background-color: var(--link-color);
    opacity: 1;
}

.btn-icon {
    margin-right: 6px;
}

/* PROMO SECTION*/

.promo {
    background: var(--promo-bg);
    height: 410px;
    border-radius: 10px;
    display: flex;
    position: relative;
    overflow: hidden;
    padding: 35px 40px;
}

.swiper-container {
    margin-bottom: 50px;
}

.promo-pizza {
    background: var(--promo-bg);
}
.promo-kebab {
    background: var(--bgrnd01);
}
.promo-vegetables {
    background: var(--bgrnd02);
}
.promo-sushi {
    background: var(--bgrnd03);
}

.active-img {
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    height: 200%;
    position: absolute;
    top: 10%;
    right: -7%;
}

.active-img {
    -webkit-animation: rotate 15s linear infinite;
    animation: rotate 15s linear infinite;
}

@-webkit-keyframes rotate {
    from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}

.promo-description {
    margin: 68px 30px;
} 

.promo-title {
    display: block;
    max-width: 400px;
    width: 100%;
    font-size: 39px;
    line-height: 46px;
    font-weight: 700;
    color: var(--font-promo);
    margin-bottom: 15px;
}

.promo-text {
    display: block;
    max-width: 538px;
    width: 100%;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: var(--font-promo);
}

/* RESTAURANTS SECTION */

.restaurants-heading {
    display: flex;
    align-items: center;
}

.restaurants-title {
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    margin-right: 30px;
    color: var(--color-2);
}

.restaurant-title {
    color: var(--color-2);
}

.search {
    margin-left: auto;
}

.input-search {
    width: 300px;
    flex: 0.7;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    margin-left: auto;
}

/* GOODS SECTION */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 44px;
    padding-bottom: 90px;
}

a.card h3.card-title {
    color: var(--main-font-color);
}

a.card h3.card-title:hover {
    color: var(--link-color);
}

.card {
    background: var(--bgrnd-color);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    flex-basis: 31%;
    cursor: pointer;
    text-decoration: none;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.card-restaurant {
    text-decoration: none;
    cursor: pointer
}

.card-restaurant:hover {
    opacity: 0.8;
}

div.card:hover {
    opacity: 0.8;
}

.card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    padding-right: 10px;
    color: var(--font-cart);
    padding-left: 24px;
    padding-right: 24px;
}

.cart-title-reg {
    font-weight: 400;
}

.card-tag {
    display: block;
    width: 65px;
    background: var(--tag-bg);
    border-radius: 2px;
    color: var(--font-entry-color);
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    padding: 5px;
    white-space: nowrap;
}

.card-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 10px;
}    

.rating {
    background-image: url('../img/icon/rating.svg');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 20px;
    margin-right: 26px;
    color: var(--rating-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    white-space: nowrap;
}

.rating > img {
    margin-right: 7px;
}

.rating > span {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: var(--rating-color);
}

.price {
    white-space: nowrap;
}

.price, .category  {
    font-size: 18px;
    line-height: 32px;
    color: var(--card-text-color);
    margin-right: 10px;
}

.category {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.category:before {
    content: '';
    width: 5px;
    height: 5px;
    background: var(--card-text-color);
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 10px;
}

.cart-w {
    margin-left: 4px;
}

.card-btn {
    display: flex;
    align-items: center;
}

.card-btn-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin-left: 30px;
}

/* HIDE MENU */

.hide {
    display: none;
}

.card-title-reg {
    font-weight: 400;
}

.ingredients {
    color: var(--card-text-color);
    font-size: 18px;
    line-height: 21px;
    margin-right: 10px;
    margin-bottom: 24px;
}

.card-buttons {
    display: flex;
    margin-top: 24px;
    align-items: center;

    padding-left: 24px;
    padding-right: 24px;
}

.button-card-text {
    margin-right: 10px;
}

.card-price-bold {
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    margin-left: 30px;
}

.button-cart {
    display: none;
    margin: 0 5px;
}

.button-out {
    display: none;
    margin: 0 5px;
}

/* FOOTER */

.footer {
    padding: 20px 0;
}

.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav {
    margin-right: auto;
    margin-left: 35px;
}

.footer-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: var(--color-2);
    font-size: 18px;
    line-height: 21px;
    transition: border 0.3s ease-out;
}

.footer-link:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 1px;
	background-color: var(--color-2);
	content: "";
	transition: width 0.3s ease-out;
}

.footer-link:hover:after,
.footer-link:focus:after {
	width: 100%;
}

.footer-link:not(:last-child) {
    margin-right: 15px;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-link:not(:last-child) {
    margin-right: 21px;
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--modal-color);
    z-index: 999;
}

.modal-header, .food-row, .modal-footer, .footer-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.close {
    border: 0;
    background: transparent;
    font-size: 36px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

.food-row {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom:1px solid var(--input-border);
}

.food-name {
    font-size: 18px;
    line-height: 32px;
}

.food-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin-left: auto;
    margin-right: 47px;
}

.modal-body {
    margin-top: 45px;
}

.counter-button {
    background: transparent;
    border: 1px solid var(--cart-border);
    color: var(--cart-border);
    border-radius: 2px;
    padding: 15px 20px;
}

.counter {
    font-size: 16px;
    line-height: 24px;
    margin: 0 10px;
}

.modal-footer {
    margin-top: 52px;
}

.modal-price-tag {
    background: var(--price-cart-btn);
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: var(--font-entry-color);
    text-align: center;
    padding: 15px 20px;
}

/* MODAL AUTH */

.modal-auth {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.modal-dialog {
    max-width: 780px;
    width: 95%;
    background: var(--bgrnd-color);
    border-radius: 5px;
    margin: 40px auto 0;
    padding: 40px 45px;
}

.modal-dialog-auth {
    width: auto;
    position: relative;
    max-height: 470px;
    height: 100%;
}

.label-auth {
    display: block;
    margin: 30px;
}

.label-auth span {
    width: 80px;
    display: inline-block;
}

.auth-form {
    padding: 5px;
}

.auth-title {
    padding: 0 5px;
}

.open {
    display: flex;
}

.close-auth {
    font-size: 36px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

/* SWIPER */

.swiper-wrapper {
    margin-bottom: 25px;
}

.swiper-scrollbar-drag {
    background: var(--color-2);
    opacity: 0.8;
}

/* SWITCHER */

.switch-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.switch {
    position: absolute;
    top: -30px;
    right: 0;
    display: inline-block;
    width: 3.8rem;
    height: 2rem;
}

.switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-slider {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--color-2);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
    cursor: pointer;
}

.switch-slider::before {
    content: '';
    position: absolute;
    left: 0.2rem;
    top:50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 1.6rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    -ms-border-radius: 1.6rem;
    -o-border-radius: 1.6rem;
    background: var(--color-1);
    transition: transform 0.2s, width 0.2s, background 0.2s;
    -webkit-transition: transform 0.2s, width 0.2s, background 0.2s;
    -moz-transition: transform 0.2s, width 0.2s, background 0.2s;
    -ms-transition: transform 0.2s, width 0.2s, background 0.2s;
    -o-transition: transform 0.2s, width 0.2s, background 0.2s;
}

.switch-input:checked + .switch-slider {
    background: var(--color-2);
}

.switch-input:not(:checked):active + .switch-slider::before {
    width: 2.4rem;
}

.switch-input:checked:active + .switch-slider::before {
    transform: translate(1rem, -50%);
    -webkit-transform: translate(1rem, -50%);
    -moz-transform: translate(1rem, -50%);
    -ms-transform: translate(1rem, -50%);
    -o-transform: translate(1rem, -50%);
    width: 2.4rem;
}

.switch-input:checked + .switch-slider::before {
    transform: translate(1.8rem, -50%);
    -webkit-transform: translate(1.8rem, -50%);
    -moz-transform: translate(1.8rem, -50%);
    -ms-transform: translate(1.8rem, -50%);
    -o-transform: translate(1.8rem, -50%);
}



